---
import { formatBlogDate, type BlogEntry } from '@/lib/fetchers/blog';
import { Image } from 'astro:assets';

interface Props {
  blog: BlogEntry;
}

const { blog } = Astro.props;
const formattedDate = formatBlogDate(blog.data.publishDate);
---

<article class="bg-main text-background w-full py-16">
  <header class="container mt-16 mb-8 text-center">
    <div class="animate-fade-in-down animate-delay-200 mb-4 flex items-center justify-center gap-4">
      <span class="text-secondary text-sm font-medium tracking-wider">{blog.data.category}</span>
      <span class="text-background/70">|</span>
      <time datetime={blog.data.publishDate} class="text-background/70 text-sm"
        >{formattedDate}</time
      >
    </div>
    <h1
      class="text-background animate-fade-in-down animate-delay-300 mb-4 text-3xl font-bold md:text-4xl lg:text-5xl"
    >
      {blog.data.title}
    </h1>
    <p
      class="font-hum text-background/70 animate-fade-in-down animate-delay-400 mx-auto mb-6 max-w-2xl text-lg"
    >
      {blog.data.description}
    </p>
    <div class="text-background/50 animate-fade-in-down animate-delay-400 text-sm">
      Por {blog.data.author}
    </div>
  </header>

  <div
    class="animate-fade-in-up animate-delay-700 container mb-10 overflow-hidden rounded-lg shadow-lg"
  >
    <Image
      src={blog.data.image.url}
      alt={blog.data.image.alt}
      width={1200}
      height={675}
      class="h-[90vh] w-full object-cover"
      loading="eager"
    />
  </div>
</article>
