---
import type { CollectionEntry } from 'astro:content';
import ShowMore from '../ui/ShowMore.astro';

interface Props {
  experience: CollectionEntry<'experiences'>;
}

const {
  experience: {
    data: { price, duration, location, title, maxParticipants, included }
  }
} = Astro.props;
---

<div class="container flex flex-col py-8 md:flex-row">
  <ShowMore preTitle={title} title="Detalles" className="flex-1 pb-4" />
  <div class="flex-1">
    <div class="border-secondary w-full border-b py-4">
      <div class="flex items-start gap-4">
        <span class="w-fit font-semibold text-gray-600">Precio:</span>
        <span class="flex-1">${price}</span>
      </div>
    </div>
    <div class="border-secondary border-b py-4">
      <div class="flex items-start gap-4">
        <span class="w-fit font-semibold text-gray-600">Duración:</span>
        <span class="flex-1">{duration}</span>
      </div>
    </div>
    <div class="border-secondary border-b py-4">
      <div class="flex items-start gap-4">
        <span class="w-fit font-semibold text-gray-600">Lugar:</span>
        <span class="flex-1">{location}</span>
      </div>
    </div>
    <div class="border-secondary border-b py-4">
      <div class="flex items-start gap-4">
        <span class="w-fit font-semibold text-gray-600">Participantes:</span>
        <span class="flex-1">Máximo {maxParticipants} personas</span>
      </div>
    </div>
    <div class="border-secondary border-b py-4">
      <div class="flex items-start gap-4">
        <span class="w-fit font-semibold text-gray-600">Incluye:</span>
        <ul class="flex-1 list-disc pl-4">
          {included.map((item: string) => <li>{item}</li>)}
        </ul>
      </div>
    </div>
  </div>
</div>
