---
import { buttonClasses } from '@/lib/ui';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

// PROPS
interface Props {
  experience: CollectionEntry<'experiences'>;
  index?: number;
}

const { experience, index } = Astro.props;

// CONST
const mainDivStyle =
  index === undefined
    ? 'flex flex-col items-center gap-8 opacity-0'
    : `flex flex-col items-center gap-8 opacity-0 ${index % 2 !== 1 || index === 0 ? 'md:flex-row-reverse' : 'md:flex-row'}`;
const {
  data: { gallery, title, description, included },
  id
} = experience;
---

<article class={mainDivStyle} id="experience-card">
  <a class="text-main w-full" href=`/experiencias/${id}`>
    <Image
      src={gallery[0]?.url || 'https://placehold.co/800x600'}
      alt={gallery[0]?.alt || title}
      width={800}
      height={600}
      class="h-[400px] w-full object-cover"
    />
  </a>
  <div class="w-full space-y-4 md:max-w-[80%]">
    <a href=`/experiencias/${id}`>
      <h3 class="hover:text-secondary hover-200 text-3xl font-semibold">{title}</h3>
    </a>
    <p class="text-gray-600">{description}</p>
    <div class="space-y-2">
      <p class="text-xl font-medium">Incluye:</p>
      <ul class="list-inside list-disc space-y-1">
        {included.slice(0, 3).map((item) => <li>{item}</li>)}
      </ul>
    </div>
    <div class="mt-6 flex items-center gap-4">
      <a href=`/experiencias/${id}` class={buttonClasses.primary}> Ver Más </a>
    </div>
  </div>
</article>
