---
import { Logo } from '@/assets';
import { Menu, X } from 'lucide-astro';
import { contactInfo, navbarItems } from '@/data/site-data';
import { cn } from '@/lib/ui';
import { getAllHotels } from '@/lib/fetchers/hotels';
import { getAllExperiences } from '@/lib/fetchers/experiences';
import { Image } from 'astro:assets';

const pathname = Astro.url.pathname;
const hotels = await getAllHotels();
const experiences = await getAllExperiences();
---

<!-- Mobile Navbar Sheet -->
<div
  id="mobile-navbar-sheet"
  class="bg-background fixed top-0 z-50 h-screen w-full translate-x-full transform overflow-y-auto"
  role="dialog"
  aria-modal="true"
  aria-label="Menu de navegación móvil"
  hidden
>
  <div class="flex h-full flex-col p-6 pt-16">
    <!-- Navigation Links -->
    <nav aria-label="Navegación principal">
      <ul class="flex list-none flex-col space-y-4 p-0" role="menu">
        {
          navbarItems.map(({ label, link, megamenu }) => {
            const items =
              megamenu && link === '/hoteles'
                ? hotels
                : megamenu && link === '/experiencias'
                  ? experiences
                  : null;

            if (items) {
              return (
                <li class="flex flex-col items-start gap-3" role="none">
                  <a
                    href={link}
                    class={cn(
                      'text-main text-3xl font-medium no-underline',
                      link === pathname ? 'text-secondary' : ''
                    )}
                    role="menuitem"
                    aria-current={link === pathname ? 'page' : undefined}
                  >
                    {label}
                  </a>
                  <ul
                    class="scroll-hide flex w-full gap-2 overflow-x-auto"
                    role="menu"
                    aria-label={`Submenu de ${label}`}
                  >
                    {items.map(({ data: { title, gallery }, id }) => (
                      <li role="none">
                        <a
                          href={`${link}/${id}`}
                          class="text-foreground block aspect-square size-24 text-lg font-medium no-underline"
                          role="menuitem"
                        >
                          <Image
                            src={gallery[0].url}
                            alt={`Imagen de ${title}`}
                            width={100}
                            height={100}
                            class="size-full object-cover"
                            loading="eager"
                            densities={[1, 2]}
                          />
                          <span class="sr-only">{title}</span>
                        </a>
                      </li>
                    ))}
                  </ul>
                </li>
              );
            } else {
              return (
                <li role="none">
                  <a
                    href={link}
                    class={cn(
                      'text-foreground text-3xl font-medium no-underline',
                      link === pathname ? 'text-secondary' : ''
                    )}
                    role="menuitem"
                    aria-current={link === pathname ? 'page' : undefined}
                  >
                    {label}
                  </a>
                </li>
              );
            }
          })
        }
      </ul>
    </nav>

    <!-- Social Media -->
    <div
      class="border-main mt-auto flex gap-2 border-y-[1px] py-2"
      role="navigation"
      aria-label="Redes sociales"
    >
      {
        contactInfo.social.networks.map((network) => (
          <a
            href={network.url}
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-accent text-main transition-colors"
            aria-label={`Visita nuestro perfil de ${network.name}`}
          >
            {network.name}
          </a>
        ))
      }
    </div>

    <!-- Reservar Button at the bottom -->
    <div class="mt-auto">
      <a
        href="/reservar"
        class="bg-secondary block w-full rounded-none py-3 text-center text-base font-medium text-white no-underline"
        role="button">Reservar</a
      >
    </div>
  </div>
</div>

<!-- Navbar -->
<header
  id="mobile-navbar"
  class="bg-background border-main fixed top-0 z-[60] flex h-fit w-full items-center justify-between border-b px-4 py-1 transition-transform duration-300 md:hidden"
  role="banner"
>
  <div class="flex size-10 items-center justify-center">
    <a href="/" aria-label="Pagina Principal">
      <Image src={Logo} alt="Logo de Small Luxury Hotels" class="size-8" />
    </a>
  </div>
  <a href="/hotels" class="font-700">EH Cuba Collection</a>
  <div class="size-8">
    <button
      id="mobile-menu-toggle"
      class="relative size-full"
      aria-expanded="false"
      aria-controls="mobile-navbar-sheet"
      aria-label="Abrir menú"
    >
      <Menu
        id="menu-open"
        class="text-main absolute inset-0 opacity-100 transition-opacity duration-200 ease-out"
        size={32}
        stroke-width={1.5}
        aria-hidden="true"
      />
      <X
        id="menu-close"
        class="text-main absolute inset-0 opacity-0 transition-opacity duration-200 ease-out"
        size={32}
        stroke-width={1.5}
        aria-hidden="true"
      />
    </button>
  </div>
</header>

<script>
  import { animate } from 'animejs';
  import { $, toggleOpacity, toggleClass } from '@/lib/scripts';
  import { navbarAnimation } from '@/lib/scripts';

  // CONST
  const ANIMATION_DURATION = 150;
  const OPEN_POSITION = '0%';
  const CLOSED_POSITION = '100%';
  const EASING = 'easeInOutQuad';

  // ELEMENTS
  const toggleButton = $('#mobile-menu-toggle');
  const mobileNavbar = $('#mobile-navbar-sheet');
  const menuOpen = $('#menu-open');
  const menuClose = $('#menu-close');
  const body = $('body');

  // FUNCTIONS
  const handleScroll = navbarAnimation('mobile-navbar');

  // Handle keyboard navigation
  const handleEscapeKey = (event: KeyboardEvent) => {
    if (event.key === 'Escape' && mobileNavbar?.style.translate === OPEN_POSITION) {
      toggleMenu(true);
    }
  };

  const toggleMenu = (isOpen: boolean) => {
    toggleButton?.setAttribute('aria-expanded', (!isOpen).toString());
    mobileNavbar?.toggleAttribute('hidden', isOpen);
    toggleOpacity(menuOpen, isOpen ? '100' : '0');
    toggleOpacity(menuClose, isOpen ? '0' : '100');
    toggleClass(body, 'overflow-hidden');

    animate(mobileNavbar!, {
      translate: isOpen ? [OPEN_POSITION, CLOSED_POSITION] : [CLOSED_POSITION, OPEN_POSITION],
      duration: ANIMATION_DURATION,
      easing: EASING
    });
  };

  // EVENTS
  window.addEventListener('scroll', () => {
    window.innerWidth < 768 && handleScroll();
  });

  document.addEventListener('keydown', handleEscapeKey);

  toggleButton?.addEventListener('click', () => {
    const isOpen = mobileNavbar?.style.translate === OPEN_POSITION;
    toggleMenu(isOpen);
  });
</script>
