---
import { Logo } from '@/assets';
import { Menu, X } from 'lucide-astro';
import { contactInfo, navbarItems } from '@/data/site-data';
import { cn } from '@/lib/utils';
import { getAllHotels } from '@/lib/utils/hotels';
import { getAllExperiences } from '@/lib/utils/experiences';
import { Image } from 'astro:assets';

const pathname = Astro.url.pathname;
const hotels = await getAllHotels();
const experiences = await getAllExperiences();
---

<!-- Mobile Navbar Sheet -->
<div
  id="mobile-navbar-sheet"
  class="bg-background fixed top-0 z-50 h-screen w-full translate-x-full transform overflow-y-auto"
>
  <div class="flex h-full flex-col p-6">
    <!-- Navigation Links -->
    <nav class="mt-auto">
      <ul class="flex list-none flex-col space-y-6 p-0">
        {
          navbarItems.map(({ label, link, megamenu }) => {
            const items =
              megamenu && link === '/hoteles'
                ? hotels
                : megamenu && link === '/experiencias'
                  ? experiences
                  : null;

            if (items) {
              return (
                <li class="flex flex-col items-start gap-3">
                  <span
                    class={cn(
                      'text-foreground text-3xl font-medium no-underline',
                      link === pathname ? 'text-secondary' : ''
                    )}
                  >
                    {label}
                  </span>
                  <ul class="flex w-full gap-2 overflow-x-auto">
                    {items.map(({ data: { title, gallery }, id }) => (
                      <li>
                        <a
                          href={`/hoteles/${id}`}
                          class="text-foreground block aspect-square size-24 text-lg font-medium no-underline"
                        >
                          <Image
                            src={gallery[0].url}
                            alt={title}
                            width={100}
                            height={100}
                            class="size-full object-cover"
                          />
                        </a>
                      </li>
                    ))}
                  </ul>
                </li>
              );
            } else {
              return (
                <li>
                  <a
                    href={link}
                    class={cn(
                      'text-foreground text-3xl font-medium no-underline',
                      link === pathname ? 'text-secondary' : ''
                    )}
                  >
                    {label}
                  </a>
                </li>
              );
            }
          })
        }
      </ul>
    </nav>

    <!-- Social Media -->
    <div class="border-main mt-auto flex gap-2 border-y py-2">
      {
        contactInfo.social.networks.map((network) => (
          <a
            href={network.url}
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-accent text-main transition-colors"
            aria-label={`Visita nuestro perfil de ${network.name}`}
          >
            {network.name}
          </a>
        ))
      }
    </div>

    <!-- Reservar Button at the bottom -->
    <div class="mt-auto">
      <a
        href="/reservar"
        class="bg-secondary block w-full rounded-none py-3 text-center text-base font-medium text-white no-underline"
        >Reservar</a
      >
    </div>
  </div>
</div>

<!-- Navbar -->
<div
  id="mobile-navbar"
  class="bg-background border-main fixed top-0 z-[60] flex h-fit w-full items-center justify-between border-b px-4 py-1 transition-transform duration-300 md:hidden"
>
  <div class="flex size-10 justify-center">
    <a href="/" aria-label="Pagina Principal">
      <Logo aria-label="Logo de Small Luxury Hotels" class="fill-main size-full" />
    </a>
  </div>
  <div class="size-10">
    <button id="mobile-menu-toggle" class="relative size-full">
      <Menu
        id="menu-open"
        class="text-secondary absolute inset-0 opacity-100 transition-opacity duration-200 ease-out"
        size={40}
        strokeWidth={0.5}
      />
      <X
        id="menu-close"
        class="text-secondary absolute inset-0 opacity-0 transition-opacity duration-200 ease-out"
        size={40}
        strokeWidth={0.5}
      />
    </button>
  </div>
</div>

<script>
  import { animate } from 'animejs';
  import { $, toggleOpacity, toggleClass } from '@/lib/utils';
  import { navbarAnimation } from '@/lib/scripts';

  // CONST
  const ANIMATION_DURATION = 150;
  const OPEN_POSITION = '0%';
  const CLOSED_POSITION = '100%';
  const EASING = 'easeInOutQuad';

  // ELEMENTS
  const toggleButton = $('#mobile-menu-toggle');
  const mobileNavbar = $('#mobile-navbar-sheet');
  const menuOpen = $('#menu-open');
  const menuClose = $('#menu-close');
  const body = $('body');

  // FUNCTIONS
  const handleScroll = navbarAnimation('mobile-navbar');

  // EVENTS
  window.addEventListener('scroll', () => {
    window.innerWidth < 768 && handleScroll();
  });

  toggleButton?.addEventListener('click', () => {
    const isOpen = mobileNavbar?.style.translate === OPEN_POSITION;

    toggleOpacity(menuOpen, isOpen ? '100' : '0');
    toggleOpacity(menuClose, isOpen ? '0' : '100');
    toggleClass(body, 'overflow-hidden');

    animate(mobileNavbar!, {
      translate: isOpen ? [OPEN_POSITION, CLOSED_POSITION] : [CLOSED_POSITION, OPEN_POSITION],
      duration: ANIMATION_DURATION,
      easing: EASING
    });
  });
</script>
