---
import { contactInfo } from '@/data/site-data';
import ShowMore from '@/components/ui/ShowMore.astro';
import { Mail, MapPin, MessagesSquare, Phone } from 'lucide-astro';
---

<section class="py-16 md:py-24">
  <div class="container mx-auto px-4">
    <ShowMore title={contactInfo.title} subtitle={contactInfo.subtitle} className="pb-0" />

    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      <!-- Email Section -->
      <div class="flex flex-col items-start">
        <div class="text-main mb-4">
          <Mail size={52} stroke-width={1.5} />
        </div>
        <h3 class="mb-2 text-2xl font-semibold">{contactInfo.email.title}</h3>
        <p class="text-foreground/80 mb-4">{contactInfo.email.description}</p>
        <a
          href={`mailto:${contactInfo.email.address}`}
          class="text-secondary hover-200 hover:underline"
        >
          {contactInfo.email.address}
        </a>
      </div>

      <!-- Social Media Section -->
      <div class="flex flex-col items-start">
        <div class="text-main mb-4">
          <MessagesSquare size={52} stroke-width={1.5} />
        </div>
        <h3 class="mb-2 text-2xl font-semibold">{contactInfo.social.title}</h3>
        <p class="text-foreground/80 mb-4">{contactInfo.social.description}</p>
        <div class="flex space-x-4">
          {
            contactInfo.social.networks.map(({ url, name }) => (
              <a
                href={url}
                class="hover:text-main hover-200 text-secondary"
                target="_blank"
                rel="noopener noreferrer"
                aria-label={`Visítanos en ${name}`}
              >
                {name}
              </a>
            ))
          }
        </div>
      </div>

      <!-- Phone Section -->
      <div class="flex flex-col items-start">
        <div class="text-main mb-4">
          <Phone size={52} stroke-width={1.5} />
        </div>
        <h3 class="mb-2 text-2xl font-semibold">{contactInfo.phone.title}</h3>
        <p class="text-foreground/80 mb-4">{contactInfo.phone.description}</p>
        <div class="flex flex-col space-y-2">
          {
            contactInfo.phone.numbers.map((phone) => (
              <a href={`tel:${phone.value}`} class="text-secondary hover-200 hover:underline">
                {phone.label}
              </a>
            ))
          }
        </div>
      </div>

      <!-- Location Section -->
      <div class="flex flex-col items-start">
        <div class="text-main mb-4">
          <MapPin size={52} stroke-width={1.5} />
        </div>
        <h3 class="mb-2 text-2xl font-semibold">{contactInfo.location.title}</h3>
        <p class="text-foreground/80 mb-4">{contactInfo.location.description}</p>
        <a href={contactInfo.location.link} class="text-secondary hover-200 hover:underline">
          Ubicaciones
        </a>
      </div>
    </div>
  </div>
</section>
