---
import type { PressEntry } from '@/lib/fetchers/press';
import { Image } from 'astro:assets';

interface Props {
  press: PressEntry;
}

const { press } = Astro.props;
const {
  data: { image, title, description, source, publishDate, author }
} = press;
---

<article class="group relative overflow-hidden opacity-0" id="press-card">
  <a
    href={source.url}
    target="_blank"
    class="relative block h-[450px] w-full bg-gray-200 shadow-md"
  >
    <Image
      src={image.url}
      alt={image.alt}
      class="h-full w-full object-cover"
      width={300}
      height={300}
      densities={[1, 2]}
    />
  </a>
  <div
    class="bg-opacity-60 bg-main text-background absolute right-0 bottom-0 left-0 space-y-2 p-4 transition-transform duration-300 group-hover:translate-y-0 md:translate-y-full"
  >
    <h3 class="text-lg font-bold">{title}</h3>
    <p class="hidden text-sm font-thin md:block">{description}</p>
    <small>{author}</small>
    <div class="flex items-center gap-2">
      <time class="text-sm font-thin">
        {new Date(publishDate).toLocaleString('es-ES')}
      </time>
      <a href={source.url} target="_blank" class="underline">{source.name}</a>
    </div>
  </div>
</article>
