---
import { buttonClasses } from '@/lib/ui';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  hotel: CollectionEntry<'hotels'>;
}

const { hotel } = Astro.props;
const { title, description, gallery, amenities } = hotel.data;
import { ArrowLeft, ArrowRight } from 'lucide-astro';
---

<article class="flex flex-col gap-8 pt-8 md:flex-row">
  <div class="relative w-full overflow-hidden shadow-md md:w-1/2">
    <div class="swiper-hotel-list-card size-full">
      <div class="swiper-wrapper h-full">
        {
          gallery.map((img) => (
            <div class="swiper-slide h-full max-h-[550px]">
              <Image
                src={img.url}
                alt={img.alt}
                class="aspect-square size-full object-cover"
                width={500}
                height={500}
                loading="lazy"
                densities={[1, 2]}
              />
            </div>
          ))
        }
      </div>
      <!-- Botones navegación -->
      <div
        class="prev-hotel-list-card border-main bg-background hover:bg-main text-main hover:text-background absolute right-20 bottom-6 z-10 flex h-10 w-10 items-center justify-center rounded-full border transition-colors"
        aria-label="Anterior"
      >
        <ArrowLeft class="current" />
      </div>
      <div
        class="next-hotel-list-card border-main bg-background hover:bg-main text-main hover:text-background absolute right-6 bottom-6 z-10 flex h-10 w-10 items-center justify-center rounded-full border transition-colors"
        aria-label="Siguiente"
      >
        <ArrowRight color="current" />
      </div>
    </div>
  </div>
  <div class="flex w-full flex-col justify-between md:w-1/2">
    <div>
      <h3 class="text-foreground mb-4 text-2xl font-bold">{title}</h3>
      <p class="text-foreground/80 mb-6">{description}</p>
      <div class="mb-6 flex flex-wrap gap-2">
        {
          amenities &&
            amenities.map((amenity) => (
              <span class="bg-secondary/20 text-secondary px-3 py-1 text-xs font-semibold">
                {amenity}
              </span>
            ))
        }
      </div>
    </div>
    <div class="flex gap-4">
      <a href={`/hoteles/${hotel.id}`} class={buttonClasses.ghost}>
        Ver hotel
        <svg class="h-4 w-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
        </svg>
      </a>
      <a href={`/reservar/${hotel.id}`} class={buttonClasses.primary}> Reservar </a>
    </div>
  </div>
</article>

<script>
  import Swiper from 'swiper';
  import 'swiper/css';
  import { Navigation } from 'swiper/modules';

  new Swiper('.swiper-hotel-list-card', {
    modules: [Navigation],
    loop: true,
    slidesPerView: 1,
    spaceBetween: 0,
    navigation: {
      prevEl: '.prev-hotel-list-card',
      nextEl: '.next-hotel-list-card'
    }
  });
</script>
