---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  hotel: CollectionEntry<'hotels'>;
}

const { hotel } = Astro.props;
const { title, shortDescription, gallery } = hotel.data;
---

<article class="bg-background flex h-full flex-col overflow-hidden opacity-0" id="hotel-card">
  <a href=`/hoteles/${hotel.id}` class="relative h-[450px] overflow-hidden shadow-md">
    <Image
      src={gallery[0].url}
      alt={gallery[0].alt}
      class="h-full w-full object-cover transition-transform duration-300 hover:scale-105"
      width={300}
      height={450}
      densities={[1, 2]}
    />
  </a>

  <div class="flex w-full flex-grow flex-col pt-5">
    <a href=`/hoteles/${hotel.id}`>
      <h3 class="text-main hover:text-secondary hover-200 mb-2 text-2xl font-bold">
        {title}
      </h3>
    </a>
    <p class="text-foreground/80 mb-4 flex-grow">{shortDescription}</p>

    <a
      href=`/hoteles/${hotel.id}`
      class="bg-secondary hover-200 hover:bg-secondary/80 mt-auto self-start px-4 py-2 text-base font-medium text-white no-underline"
    >
      Ver Hotel
    </a>
  </div>
</article>
