---
import type { RoomEntry } from '@/lib/fetchers/rooms';
import { buttonClasses } from '@/lib/ui';
import { Image } from 'astro:assets';

interface Props {
  room: RoomEntry;
}

const { room } = Astro.props;
const { images, title, description, size, maxOccupancy, bedType } = room.data;
---

<article
  class="group col-span-1 overflow-hidden opacity-0"
  aria-labelledby={`room-title-${room.id}`}
  id="room-list-card"
>
  <div class="flex flex-col gap-4">
    <!-- Imagen de la Habitación -->
    <div class="relative h-64 overflow-hidden shadow-md md:h-auto">
      <Image
        src={images[0].url}
        alt={images[0].alt}
        width={600}
        height={400}
        class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-105"
        loading="lazy"
      />
    </div>

    <!-- Detalles de la Habitación -->
    <div class="flex flex-col justify-between pt-4">
      <div class="space-y-4">
        <header>
          <h3 id={`room-title-${room.id}`} class="text-main text-2xl font-semibold">{title}</h3>
          <p class="text-foreground/80 mt-2 font-light">{description}</p>
        </header>

        <dl class="border-secondary grid grid-cols-2 gap-4 border-y py-2 md:grid-cols-4">
          <div>
            <dt class="text-foreground/70 block text-sm">Tamaño</dt>
            <dd class="text-lg font-medium">{size} m²</dd>
          </div>
          <div>
            <dt class="text-foreground/70 block text-sm">Ocupación máxima</dt>
            <dd class="text-lg font-medium">{maxOccupancy} personas</dd>
          </div>
          <div>
            <dt class="text-foreground/70 block text-sm">Tipo de cama</dt>
            <dd class="text-lg font-medium">{bedType}</dd>
          </div>
        </dl>
      </div>

      <div class="flex gap-4 pt-4">
        <a
          href={`/habitaciones/${room.id}`}
          class={buttonClasses.ghost}
          aria-label={`Ver detalles de la habitación ${title}`}
        >
          Ver Habitación
          <svg
            class="h-4 w-4"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            aria-hidden="true"
            role="img"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
          </svg>
        </a>
        <a
          href={`/habitaciones/${room.id}`}
          class={buttonClasses.primary}
          aria-label={`Reservar habitación ${title}`}
        >
          Reservar
        </a>
      </div>
    </div>
  </div>
</article>
