---
import type { BlogEntry } from '@/lib/fetchers/blog';
import { Image } from 'astro:assets';

interface Props {
  blog: BlogEntry;
}

const { blog } = Astro.props;
const { title, description, category, image } = blog.data;
---

<article id="blog-card" class="opacity-0">
  <a
    href={`/blog/${blog.id}`}
    class="text-main flex h-72 w-full items-center justify-center overflow-hidden bg-gray-200"
  >
    <Image
      src={image.url}
      alt={image.alt}
      class="h-full w-full object-cover transition-transform duration-500 hover:scale-110"
      width={500}
      height={500}
    />
  </a>
  <div class="space-y-3 pt-4">
    <p class="text-secondary text-lg font-light uppercase">{category}</p>
    <a href={`/blog/${blog.id}`} class="hover:text-secondary hover-200 text-2xl font-bold"
      >{title}</a
    >
    <p class="text-foreground/70 mt-2 text-base font-light">{description}</p>
  </div>
</article>
